DTD-validation/Cancion_1_dtd/Cancion_1.dtd

<!ELEMENT Cancion (Titulo, Productores, Sello, Compositores, Artista+)>
<!ATTLIST Cancion
Duracion CDATA #REQUIRED
Anio CDATA #REQUIRED>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Productores (Productor+)>
<!ELEMENT Productor (Nombre, Apellido)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Apellido (#PCDATA)>
<!ELEMENT Sello (#PCDATA)>
<!ELEMENT Compositores (Compositor+)>
<!ELEMENT Compositor (Nombre, Apellido)>
<!ELEMENT Artista (#PCDATA)>